.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(184, 184, 184);
  overflow-y: scroll;
  h2 {
    font-size: 2.3rem;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.library-song {
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
  cursor: pointer;

  img {
    width: 30%;
  }
  &:hover {
    background-color: #c0ebf0;
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 38, 38, 0.886) transparent;
}
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #4545459a;
  border-radius: 20rem;
  border: transparent;
}
