@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.player {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player .time-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .time-control input {
  min-width: 100%;
  padding: 1rem 0;
  margin: 0 0.2rem;
  cursor: pointer;
}

.player .time-control p {
  padding: 1rem;
}

.player .play-control {
  width: 30%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .play-control svg {
  cursor: pointer;
}

.song-container {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.song-container img {
  width: 30%;
  border-radius: 50%;
}

.song-container h2 {
  padding: 3rem 1rem 1rem 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  -webkit-box-shadow: 2px 2px 50px #b8b8b8;
          box-shadow: 2px 2px 50px #b8b8b8;
  overflow-y: scroll;
}

.library h2 {
  font-size: 2.3rem;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.library-song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
}

.library-song img {
  width: 30%;
}

.library-song:hover {
  background-color: #c0ebf0;
}

.song-description {
  padding-left: 1rem;
}

.song-description h3 {
  font-size: 1.2rem;
}

.song-description h4 {
  font-size: 0.8rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(38, 38, 38, 0.886) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #4545459a;
  border-radius: 20rem;
  border: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  margin: 1rem;
}

h1,
h2,
h3,
h4 {
  color: #313131;
}

h3,
h4 {
  font-weight: 400;
  color: #646464;
}
/*# sourceMappingURL=app.css.map */